body::before {
  display: block;
  content: "";
  height: 56px;
}
/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://images.alphacoders.com/112/112121.jpg);
} */
